* {
    margin:0px;
    box-sizing: border-box;
}

.hero{
    height:100vh;
    align-content: center;
    color: blue;
    background-image: url('images/Boyz.jpg');
    background-color: aqua;
    padding:20px;
}