* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    margin: 0px;
}

#frame{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#header{
    display: flex;
    height: 48px;
    background-color: #32373E;
    justify-content: center;
}

#me{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    image-rendering: pixelated;
}

.nav-bar{
    color: white;
    height: 48px;
    top: 0px;
}

.page-links{
    display: inline;
    list-style: none;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
    float: left
}

li a{
    padding: 12px;
}

a:link{
    text-decoration: none;
}

li a:hover{
    background-color: #121417;
}

a:visited{
    text-decoration: none;
    color: white;
}

.hero{
    align-items: center;
    background-color: antiquewhite;
    background-image: url("../images/boat_hero.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    height: calc(100% - 48px);
    justify-content: center;
    padding: 0px;
    width: 100%;
}

.welcome{
    color: #32373E;
    width: 60%;
    justify-content: left;
}

.howdy{
    font-size: 8em;
    width: 100%;
}

.intro{
    font-size: 2em;
    width: 100%;
}